<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} - TellMe</title>
            <script type="text/javascript" src="{{ app.request.basepath }}/views/js/jquery-1.11.3.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div>
            <!-- main menu -->
            <a href="{{ url('homepage') }} ">Home</a> |
            <a href="{{ url('opinions') }} ">Opinions</a> |
            <a href="{{ url('profile') }} ">Profile</a>
            <br/>
            <br/>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>