{% extends "base.twig" %}

{% block content %}

<form  id="add-opinion" onsubmit="window.location=$('#opinion-selected').val(); return false;">
    <select id="opinion-selected" >
        <option value="{{ url('poll') }}">Poll</option>
        <option value="{{ url('choice') }}">Choice</option>
     </select>
    <input type="submit" value="Add new one"/>
</form>

{% for opinion in opinions %}
    {% include 'opinion/my-' ~ constant('TYPE', opinion) ~ '-view.twig' with { 'loopIndex': loop.index0} %}
{% else %}
{% endfor %}

{% endblock %}